/* You can add global styles to this file, and also import other style files */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
html {
  container-type: scroll-state;
}

@font-face {
  font-family: "bakery simple";
  src: url("/assets/fonts/Bakery.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "slither";
  src: url("/assets/fonts/Slither.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
