
<header class="navbar">

  <a
    class="navbar-logo"
    href="/"
    aria-label="roomly, ir al inicio">

    <img
      class="navbar-logo-img"
      src="/assets/icon.png"
      alt="">

    <span class="navbar-logo-texto">
      roomly
    </span>
  </a>

  <nav
    class="navbar-links"
    aria-label="Principal">

    <a
      class="navbar-boton"
      href="/">
      inicio
    </a>

    <a
      class="navbar-boton"
      href="/alojamientos">
      explorar
    </a>

    <a
      class="navbar-boton"
      href="/reservas">
      ver reservas
    </a>

  </nav>

</header>
